/* CSS HEX
-- Rich Black: #11151C
-- Prussian Blue: #212D40
-- Charcoal: #364156
-- Light Grey: #CDD7D6
*/
body {
    background-color: #CDD7D6;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    background-color: #212D40;
}
.navbar {
    display: flex;
    margin-bottom: 50px;
}
.header{
    font-size: 40px;
    color: #ffffff; 
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 100px;
}
.navbutton {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    justify-content: right;
}

/* About me section */
.aboutbox {
    justify-content: center;
    background-color: white;
    border: 10px solid #212D40;
    margin:0 auto;
    height: 600px;
    width: 1500px;
}
#about h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    
}
#ben {
    width: 400px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    float:left
}
.aboutbox div {
    font-size: 25px;
}

@media screen and (max-width:1550px) {
    .aboutbox {
        width: 50%;
    }
    #about h1 {
        width: 50%;
    }
    #ben {
        width: 25%;
    }
    .aboutbox div {
        width: 50%;
        font-size: 10px;
    }
}

/* Work Section */
main {
    justify-content: center;
    background-color: white;
    border: 10px solid #212D40;
    margin: 50px;
}

#work {
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
}

 main section {
    width: 25%;
    flex: 300px;
}

.firstproject {
    flex: 1 1 1000px;
}
.afterprojects {
    flex: 300px;
}
.project {
    border-style: solid;
    border-color: #212D40;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
}

.project header {
    text-align: center
}
main div a {
    text-decoration: none;
    font-size: 25px;
}
main div img {
    width: 300px;
    width: 100%;
    height: 300px;
}
/* Contact Section */
.contact {
    justify-content: center;
    background-color: white;
    border: 10px solid #212D40;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}
.contact h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
}
.contact ul {
    list-style: none;
    text-align: center;
}
.contact ul li {
    text-decoration: none;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
}
@media screen and (max-width: 400px) {
    .contact ul {
        font-size: 30px;
    }
}