/* CSS HEX
-- Rich Black: #11151C
-- Prussian Blue: #212D40
-- Charcoal: #364156
-- Light Grey: #CDD7D6
*/
body {
    background-color: #CDD7D6;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    background-color: #212D40;
}
.navbar {
    display: flex;
}
.header{
    font-size: 40px;
    color: #ffffff; 
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 100px;
}
.navbutton {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    justify-content: right;
}

/* About me section */
#container {
    display: flex;
    justify-content: center;
} 

.aboutbox {
    justify-content: center;
    background-color: white;
    border: 10px solid #212D40;
    margin: 50px;
}
.aboutbox h1 {
    font-size: 40px;
    justify-content: center;
    
}
#ben {
    width: 400px;
    margin: 25px;
}
.about p {   

}

/* Work Section */

/* Contact Section */
.contact h1 {
    text-align: center;
    font-size: 40px;
}
.contact ul {
    list-style: none;
    text-align: center;
}
.contact ul li {
    text-decoration: none;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
}